<!DOCTYPE html>
<html>
<!-- {% load static %} -->

{% load static %}

<head>
  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <script type="text/javascript" src="{% static 'js/javascript_index.js' %}"></script>
</head>

<body>
  <div class="box">
    <div class="div1">
      <img class="img1" id="img-category" src="#" alt="Category">
      <div class="txt1">Select the colors that surrounds:  </div>
      <div class="txt1" id="category-name"></div>
    </div>
    <div id="img-captcha-div">
      <img class="img2" id="img-captcha" src="#" alt="CAPTCHA">
    </div>
    <div class="container div3" id="color-button-div">
    </div>
    <div>
      <button class="button11" id="verify-btn">Verify</button>
      <button class="button12" id="page-reload-btn">
        <img class="icon" src="https://htmlacademy.ru/assets/icons/reload-6x-white.png" />
        Reload
      </button>
      <p class="txt2"><b>CBOD-CAPTCHA</b></p>
    </div>
  </div>
</body>

</html>